# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# IDE-specific files
*.iml
.idea/

# Pytest
.pytest_cache/

# Logs and temp
*.log
*.tmp

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
